footer {
  width: 105%;
  height: 10vh;
  background-color: $card-color;

  ul {
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1.5rem;
    list-style: none;

    a {
      color: $text-color;
    }

    i {
      font-size: 6rem;
      position: relative;
      bottom: 1.2rem;
      left: 5rem;
    }
    
    h3 {
      font-size: 2rem;
      position: relative;
      left: 7%;
      bottom: 1.2rem;
    }
  }
}
