footer {
  width: 105%;
  height: 10vh;
  background-color: $card-color;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1.5rem;
    list-style: none;

    a {
      color: $text-color;
    }

    i {
      font-size: 4rem;
      position: relative;
      bottom: 1.2rem;
    }
  }

  h3 {
    font-size: 1.2rem;
    position: relative;
    left: 2rem;
    bottom: 1.2rem;
  }
}
