@media only screen and (min-width: 320px) and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  .navbar {
    height: 4rem;
    
    .profile {
      width: 1.5rem;
      height: 3.5rem;
    }

    .right-side {
      bottom: 3rem;
      right: 1.5rem;
    }

    .profile {
      img{
        width: 10rem;
        height: 11rem;
      }
    }
  }

  .container {
    > div {
      height: 180px;
      &:nth-of-type(1) {
        font-size: 3.5rem;
        padding-left: 2rem;
      }

      &:nth-of-type(4) {
        h3 {
        font-size: 2.5rem;
        }
        i {
          font-size: 5.5rem;
        }
      }
    }
  }

  .main-container {
    .images {
      img {
        width: 70%;
      }
    }
  }

  .skills {
    ul {
      grid-gap: 10px;
    }
  }

  footer {
    ul {
      width: 90%;
      height: 10vh;

      i {
        font-size: 2.3rem;
        left: 150%;
      }
    }

    h3 {
      width: 20%;
      font-size: 1rem;
      padding-right: 0.2rem;
      padding-top: 0.8rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    > div {
      &:nth-of-type(6) {
        font-size: 3.5rem;
      }

      &:nth-of-type(9) {
        font-size: 3.5rem;
      }
    }
  }

  .main-container {
    .images {
      p {
        font-size: 2.3rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    > div {
      &:nth-of-type(6) {
        font-size: 4.8rem;
      }

      &:nth-of-type(9) {
        font-size: 4.2rem;
      }
    }
  }
}

