@media only screen and (min-width: 320px) and (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .navbar {
    height: 3rem;

    .profile {
      width: 1.5rem;
      height: 3.5rem;
    }

    .right-side {
      bottom: 3rem;
      right: 1.8rem;
      font-size: 2.5rem;
    }

    .profile {
      img{
        width: 8rem;
        height: 9rem;
      }
    }
  }

  .container {
    width: 100%;
    
    > div {
      height: 120px;

      &:nth-of-type(1) {
        font-size: 2.5rem;
        padding-top: 5rem;
        padding-left: 7rem;
      }

      &:nth-of-type(4) {
        h3 {
        font-size: 1.5rem;
        }
        i {
          font-size: 2.5rem;
        }
      }

      &:nth-of-type(6) {
        span {
          font-size: 1.6rem;
        }
      }

      &:nth-of-type(9) {
        h4 {
          font-size: 1rem;
          line-height: 20px;
        }

        mark {
          font-size: 1rem;
          padding-left: 0.1rem;
        }
      }
    }
  }
  main {
    h3 {
      font-size: 2.5rem;
    }
  }

  .main-container {
    
    .images {
      img {
        width: 80%;
      }

      p {
        font-size: 1.5rem;
        right: 2%;
      }
    }
  

  .skills {
    width: 70%;
    left: 10%;
    ul {
      grid-gap: 20px;
    }
  }
}

  footer {
    ul {
      width: 90%;
      height: 10vh;

      i {
        font-size: 2rem;
        left: 60%;
      }
      
      h3 {
        width: 25%;
        font-size: 0.7rem;
        padding-right: 0.2rem;
        //padding-top: 0.8rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    img {
      width: 9rem;
      height: 11rem;
    }

    .right-side {
      bottom: 10rem;
    }
  }
  .container {
    > div {
      &:nth-of-type(1) {
        h1 {
          font-size: 2.3rem;
        }
      }
      &:nth-of-type(4) {
        h3 {
          font-size: 2.8rem;
        }
        i {
          font-size: 3rem;
        }
      }
      &:nth-of-type(6) {
        font-size: 3.8rem;
      }

      &:nth-of-type(9) {
        font-size: 4.2rem;
      }
    }
  }

  footer {
    ul {
      i {
        font-size: 3rem;
        margin-right: 1rem;
      }
    
      h3 {
        font-size: 1.5rem;
        margin-left: 2rem;
      }
    }  
  }
}

