.navbar {
  background-color: $primary-color;
  height: 6rem;
  position: relative;

  ul {
    list-style: none;

    li a {
      padding-left: 5rem;
      text-decoration: none;
      color: #000;
    }
  }

  .profile {
    position: relative;
    left: 5%;
    top: 20%;
  }

  img {
    border-radius: 50%;
    width: 13rem;
    height: 15rem;
  }

  .right-side {
    display: flex;
    justify-content: flex-end;
    font-size: 4.5rem;
    position: relative;
    right: 8rem;
    bottom: 9.5rem;
  }
}
