.navbar {
  background-color: $primary-color;
  height: 8rem;
  position: relative;

  ul {
    list-style: none;

    li {
      padding-left: 5rem;
    }
  }

  .profile {
    position: absolute;
    left: 5%;
    top: 20%;
  }

  img {
    border-radius: 50%;
    width: 8rem;
  }

  .left-side {
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    position: absolute;
    top: 1em;
    right: 8rem;
  }
}