$primary-color: #38444D;
$text-color: #ECE9E4;
$card-color: #9EB4C7;

@import 'navbar';
@import 'main';
@import 'container';
@import 'main_container';
@import 'animation';
@import 'skills';
@import 'footer';
@import 'media';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #000;
  cursor: pointer;
}

body {
  overflow-x: hidden;
  background-color: $primary-color;
}
